<div class="widget widget-tabs">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">网站公告</a>
			</li>
			<li role="presentation">
				<a href="#centre" aria-controls="centre" role="tab" data-toggle="tab">会员中心</a>
			</li>
			<li role="presentation">
				<a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane notice active" id="notice">
				<ul>
					{volist name='notices' id='vo'}
						<li>
							<time datetime="{$vo.create_time}">{$vo.create_time}</time>
							<a href=""><span class="word" id="{$vo.id}">{$vo.title}</span></a>
						</li>
					{/volist}
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane centre" id="centre">
				<h4>需要登录才能进入会员中心</h4>
				<p>
					<a data-toggle="modal" data-target="#loginModal" class="btn btn-primary">立即登录</a>
					<a href="javascript:;" class="btn btn-default">现在注册</a>
				</p>
			</div>
			<div role="tabpanel" class="tab-pane contact" id="contact">
				<h2>Email:<br />
              <a href="mailto:admin@ylsat.com" data-toggle="tooltip" data-placement="bottom" title="admin@ylsat.com">admin@ylsat.com</a></h2>
			</div>
		</div>
	</div>
	