{extend name="public/base1" /} 
{block name="content"}
<div class="cl pd-20" style=" background-color:#5bacb6">
	<dl style="margin-left:80px; color:#fff">
		<dt><span class="f-18">{$data['title']}</span></dt>
	</dl>
</div>
<div class="pd-20">
	<p>发布时间：{$data['create_time']}</p>
	<div>{$data['content']|raw}</div>
	
</div>
{/block}
 {block name="js"}
<script type="text/javascript" src="__STATIC__/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/hui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/hui/static/h-ui.admin/js/H-ui.admin.page.js"></script>
{/block}