{extend name="public/base" /} 
{block name="left"}
<div class="content">
	{include file="public/carousel"}
	<article class="excerpt-minic excerpt-minic-index">
		<h2><span class="red">【今日推荐】</span><a href="" title="">从下载看我们该如何做事</a></h2>
		<p class="note">一次我下载几部电影，发现如果同时下载多部要等上几个小时，然后我把最想看的做个先后排序，去设置同时只能下载一部，结果是不到一杯茶功夫我就能看到最想看的电影。 这就像我们一段时间内想干成很多事情，是同时干还是有选择有顺序的干，结果很不一样。同时...</p>
	</article>
	<div class="title">
		<h3>最新发布</h3>
		<div class="more">
			<a href="">PHP</a>
			<a href="">JavaScript</a>
			<a href="">EmpireCMS</a>
			<a href="">Apache</a>
			<a href="">MySQL</a>
		</div>
	</div>
	
	{volist name="newsarticles" id="vo"}
		<article class="excerpt excerpt-1">
			<a class="focus" href="{:url('index/detail',['id'=>$vo.id])}" title=""><img class="thumb" data-original="{$Request.root}/{$vo.cover_img}" 
				src="{$Request.root}/{$vo.cover_img}" alt=""></a>
			<header>
				<a class="cat" href="{:url('index/list',['id'=>$vo.category_id])}">{$vo.category.title}<i></i></a>
				<h2><a href="{:url('index/detail',['id'=>$vo.id])}" title="">{$vo.title}</a></h2>
			</header>
			<p class="meta">
				<time class="time"><i class="glyphicon glyphicon-time"></i>{$vo.create_time}</time>
				<span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共{$vo.clicks}人围观</span>
				<a class="comment" href=""><i class="glyphicon glyphicon-comment"></i> {$vo.praise}个点赞</a>
			</p>
			<div class="note">{$vo.describe}</div>
		</article>
	{/volist}
</div>
{/block}
{block name="right"}
<div class="fixed">
	{include file="public/tabs"}
	{include file="public/search"}
</div>
{include file="public/sentence"}
{include file="public/hot"} 

{/block} 
{block name="js"}
<script src="__STATIC__/layer/layer.js"></script>
<script>
	$(function(){
		$('.word').mouseover(function(){
			var wid=$(this).attr('id');
			$.ajax({
				url:"{:url('index/notice')}",
				data:{
					id:wid,
				},
				async:true,
				cache:false,
				type:"POST",
				dataType:'json',
				success:function(data){
					//console.log(data);
					layer.msg(data.content);
				}
			});
		})
	})
</script>
{/block}